*.csv
*.txt
*.json
*.jsonl

*.xml
*.iml

*.png
*.drawio

*.pth
*.ai

*.zip

*.prof
/data/embedding_data/glove/.embeddings/glove/common_crawl_840
/data/embedding_data/glove/.embeddings/glove/common_crawl_48
/data/mnli/BACKUP/multinli_1.0/Icon_
/data/mnli/multinli_1.0/Icon_
/data/snli_1.0/Icon_
/data/embedding_data/glove/.embeddings/glove/wikipedia_gigaword
/data/embedding_data/glove/.embeddings/glove/twitter
/comp_analysis_library/data/embedding_data/glove/.embeddings/glove/twitter
